@media screen and (max-width:1270px) // was min-width: 375px;
{
    body 
    {
        background-image: url(/images/bg-pattern-top-mobile.svg);
        background-position: 0% 0%;
        background-repeat: no-repeat, no-repeat;
        overflow: scroll;
    }
    main
    {
        margin: 8rem auto -3rem auto;
        display: flex;
        flex-direction: column;
        width: 85%;
        height: 100%;
        .welcome-section
        {
            // height: 100vh;
            margin-bottom: 1rem;
            flex-direction: column;
            align-items: center;
            // justify-content: space-between;
            .main-paragraph
            {
                width: 100%;
                // height: 50%;
                display: flex;
                flex-direction: column;

                h1
                {
                    // text-align: center;
                    height: 46%;
                    width: 75%;
                    margin:0 auto;
                    text-align: center;
                    font-size: 28px;
                    
                    // .centered1
                    // {
                    //     margin-left: 7px;
                    // }
                    // .centered2
                    // {
                    //     margin-left: 38px;
                    // }
                }

                p
                {
                    font-size: 13.5px;
                    text-align: center;
                    br
                    {
                        display: none;
                    }
                    // .centered3
                    // {
                    //     margin-left: 3px;
                    // }
                    // .centered4
                    // {
                    //     position: relative;
                    //     left:9px;
                    // }
                    // .centered5
                    // {
                    //     margin-left: 10px;
                    //     position: relative;
                    //     left:107px;
                    // }
                }
                
            }

            .ratings-list
            {
                position: static;
                margin: 3rem 0 0 0;
                width: 100%;
                height: 270px;
                .rating-item
                {
                    width: 100%;
                    // height: 33%;
                    position: static;
                    flex-direction: column;
                    padding:0;
                    .rating-comment
                    {
                        position: static;
                        margin: auto auto;
                    }

                    .stars
                    {
                        width: 40%;
                        margin:15px auto 5px  auto;
                        .star
                        {
                            max-width: 13%;
                        }
                    }
                }
            }
        }

        .endorsements-section
        {
            margin-top: 1rem;
            position: static;
            .endorsements-list
            {
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                .endorsement-item
                {
                    width:100%;
                    margin-bottom: 1rem;
                    .user-info
                    {
                        position: static;
                    }

                    .endorsement-comment
                    {
                        br 
                        {
                            display: none;
                        }
                    }
                }

                .endorsement-item2
                {
                    position: static;
                }
                
                .endorsement-item3
                {
                    position: static;
                }
            }
        }
    }

}

@media screen and (max-width:417px)
{
    main
    {
        .welcome-section
        {
            .main-paragraph
            {
                p
                {
                    .mini
                    {
                        display: inline;
                    }
                }

            }   
        }

    }
}

@media screen and (max-width:299px)
{
    main 
    {
        .endorsements-section
        {
            .endorsements-list
            {
                .endorsement-item
                {
                    padding:1rem;
                    height: 100%; 
                    width: 100%;
                }
            }
        }
    }

}